Repository DemonDaddy22/all-about-reactJS, pull requests merged in 2020-10, with the labels that each got.

#9 Add checks on pull requests to master
  .eslintrc.js
  .github/workflows/lint.yml
  package-lock.json
  package.json
  yarn.lock
Labels: hacktoberfest, hacktoberfest-accepted

#21 add project Idea in frontend
  ideas.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, repo

#25 Fix: check eslint on github actions
  .eslintrc.js
  .github/workflows/lint.yml
  package-lock.json
  package.json
  yarn.lock
Labels: enhancement, hacktoberfest, hacktoberfest-accepted, repo, technical

#28 Adding Ideas
  ideas.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, repo

#30 Add card-memory-game idea
  ideas.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted, repo

#29 Fix: command check eslint github actions
  .eslintrc.js
  .github/workflows/lint.yml
  package-lock.json
  package.json
  yarn.lock
Labels: repo
